@model SignInViewModel
@{
    ViewData["Title"] = "Sign in";
}

<section id="signin">
    <div class="container">
        @if (!string.IsNullOrEmpty(ViewData["ErrorMessage"] as string))
        {
            <div class="alert alert-danger">@ViewData["ErrorMessage"]</div>
        }
        <form method="post" asp-controller="Auth" asp-action="SignIn" asp-route-ReturnUrl="@ViewData["ReturnUrl"]" novalidate class="row g-3 needs-validation">
            <h1>Welcome Back</h1>
            <p>Don't have an account yet? <a asp-controller="Auth" asp-action="SignUp">Sign up here.</a></p>
            <div class="col-12">
                <label asp-for="Email" class="form-label">Email</label>
                <input asp-for="Email" type="email" class="form-control" required>
                <span asp-validation-for="Email"></span>
            </div>
            <div class="col-12">
                <label asp-for="Password" class="form-label">Password</label>
                <input asp-for="Password" type="password" class="form-control" required>
                <span asp-validation-for="Password"></span>
            </div>
            <div class="col-12">
                <div class="form-remember">
                    <input asp-for="RememberMe" class="form-check-input" type="checkbox" id="gridCheck">
                    <label asp-for="RememberMe" class="form-check-label" for="gridCheck">
                        Remember me 
                    </label>
                </div>
            </div>
            <div class="col-12">
                <button type="submit" class="btn-theme-s">Sign in</button>
                <a id="form-forgot-password">Forgot your password?</a>
            </div>
        </form>
    </div>
</section>
