<header>
    <div class="container">
        <a id="logo" asp-controller="Home" asp-action="Index"><img src="images/silicon-logo-light-theme.svg" alt="Logo of Silicon"></a>

        <div id="menu">
            <nav>
                <a asp-controller="Home" asp-action="Index" asp-fragment="overview" class="menu-link">Overview</a>
                <a asp-controller="Home" asp-action="Index" asp-fragment="features" class="menu-link">Features</a>
                <a asp-controller="Home" asp-action="Index" class="menu-link">Contact</a>
            </nav>
        </div>

        <div class="btn-switch">
            <label>Light</label>
            <label for="switch-mode" class="switch">
                <input type="checkbox" id="switch-mode">
                <span class="slider round"></span>
            </label>
            <label>Dark</label>
        </div>

        <div class="account-btns">
            <a asp-controller="Auth" asp-action="SignUp" class="btn-gray"><i class="fa-regular fa-right-to-bracket"></i><span>Sign in</span></a>
            <a href="#" class="btn-theme"><i class="fa-regular fa-user"></i><span>Sign up</span></a>
        </div>
    </div>
</header>