@using Infrastructure.Entities;
@model SubscribeViewModel;

<section id="newsletter">
    <form asp-controller="Home" asp-action="Subscribe" asp-fragment="Newsletter" method="post" novalidate>
        <div class="container">
            <div class="heading">
                <h1>Don't Want to Miss Anything?</h1>
                <img src="/images/arrows.svg" alt="">
            </div>
            <div class="sign-up-checkboxes">
                <h5>Sign up for Newsletters</h5>
                <div class="checkbox-items">
                    <div class="item">
                        <input asp-for="DailyNewsletter" type="checkbox" class="form-check-input" id="daily">
                        <label asp-for="DailyNewsletter">Daily Newsletter</label>
                    </div>
                    <div class="item">
                        <input asp-for="AdvertisingUpdates" type="checkbox" class="form-check-input" id="advertising">
                        <label asp-for="AdvertisingUpdates">Advertising Updates</label>
                    </div>
                    <div class="item">
                        <input asp-for="WeekInReview" type="checkbox" id="review" class="form-check-input">
                        <label asp-for="WeekInReview">Week in Review</label>
                    </div>
                    <div class="item">
                        <input asp-for="EventUpdates" type="checkbox" class="form-check-input" id="event">
                        <label asp-for="EventUpdates">Event Updates</label>
                    </div>
                    <div class="item">
                        <input asp-for="StartupsWeekly" type="checkbox" class="form-check-input" id="startups">
                        <label asp-for="StartupsWeekly">Startups Weekly</label>
                    </div>
                    <div class="item">
                        <input asp-for="Podcasts" type="checkbox" class="form-check-input" id="podcasts">
                        <label asp-for="Podcasts">Podcasts</label>
                    </div>
                </div>
            </div>
            <div class="email-signup">
                <div class="email">
                    <div class="input-container">
                        <i class="fa-light fa-envelope"></i>
                        <input asp-for="Email" type="email" placeholder="Your Email" required>
                        <span asp-validation-for="Email"></span>
                    </div>
                    <button type="submit" class="btn-theme">Subscribe *</button>
                </div>
                <div class="policy">
                    <p><span>*</span>Yes, I agree to the <a asp-controller="About" asp-action="Terms">terms</a> and <a asp-controller="About" asp-action="PrivacyPolicy">privacy policy.</a></p>
                </div>
            </div>
        </div>
    </form>
</section>

@await Html.PartialAsync("~/Views/Shared/_ValidationScriptPartial.cshtml")