<section id="light-dark-mode">
    <div class="content">
        <div class="dark">
            <div class="left-text">
                <h1 class="light-text">Switch Between </h1>
            </div>
        </div>
        <div class="light">
            <div class="right-text">
                <h1 class="dark-text">Light & Dark Mode</h1>
            </div>
        </div>
        <div class="center-image">
            <div class="image-div">
                <img class="mockup-img" src="/images/mockup.svg" alt="bildtext">
                <img src="/images/button-darkpreview.svg" alt="text">
            </div>
        </div>
    </div>
</section>