


#account-details {
    margin-top: 6rem;
    height: 100%;

    .container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        justify-content: center;
        height: 100%;
        gap: 3rem 5rem;

        @include lg {
            width: 1294px;
        }

        h1 {
            margin: 0;
        }

        p {
            margin-top: 0;
            margin-bottom: 1rem !important;
        }

        .content-left {
            grid-column: 1 / span 4;
            height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            border-right: 1px solid $gray-300;
            padding: 0 1rem;

            .avatar {
                position: relative;

                img {
                    display: block;
                    width: 120px;
                    height: 120px;
                    border-radius: 50%;
                }

                label, i {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    background-color: white;
                    border: 1px $gray-300 solid;
                    width: 36px;
                    height: 36px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &:hover {
                        background: $gray-800;
                        color: #fff;
                        border: 1px $gray-800 solid;
                    }


                    /*i {
                        color: $gray-800;
                        margin: 0 auto;

                        &:hover {
                            color: $gray-100;

                        }
                    }*/
                }
            }

            .account-info {
                padding-top: 1rem;

                h5 {
                    margin: 0;
                }

                p {
                    color: $gray-700;
                }
            }

            a {
                text-align: left;
                margin-bottom: 2rem;
                width: 100%;
                justify-content: flex-start;
            }
        }

        .content-right {
            max-width: 856px;
            grid-column: 5 / span 8;

            h5 {
                color: $theme;
            }

            label {
                font-weight: 700;

                span {
                    color: $gray-400;
                }
            }

            input {

                &:focus {
                    box-shadow: none;
                    border: 1px solid $theme;
                }

                &::placeholder {
                    opacity: .4;
                }
            }

            textarea {
                &::placeholder {
                    opacity: .4;
                }
            }

            .buttons {
                display: flex;
                margin-bottom: 3rem;
                gap: 1rem;
                margin-top: 1.5rem;
            }

            .error {
                padding: .5rem;
                color: $danger;
            }

            .bottom-form {
                border-top: 1px $gray-300 solid;
                padding-top: 2rem;
                padding-bottom: 4rem;

                .error {
                    padding: .5rem;
                    color: $danger;
                }
            }
        }
    }
}
