/*#signup {
    height: 100%;

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        @include lg {
            width: 60%;
        }

        @include xl {
            width: 40%;
        }

        form {
            padding: 1rem;
            padding-top: 5rem;

            .content {
                display: grid;
                gap: 1rem 2rem;
                grid-template-columns: 1fr;
                grid-template-areas: "firstname" "lastname" "email" "password" "confirm" "terms" "button";

                @include md {
                    grid-template-columns: 1fr 1fr;
                    grid-template-areas: "firstname lastname" "email email" "password password" "confirm confirm" "terms terms" "button button";
                }

                #form-firstname {
                    grid-area: firstname;
                }

                #form-lastname {
                    grid-area: lastname;
                }

                #form-email {
                    grid-area: email;
                }

                #form-password {
                    grid-area: password;
                }

                #form-confirmPassword {
                    grid-area: confirm;
                }

                #form-terms {
                    grid-area: terms;
                }

                #form-button {
                    grid-area: button;
                    border: none;
                }

                .btn-theme-s {
                    border: none !important;
                }

            }
        }
    }
}*/


#signup {
    margin-top: 6rem;

    .container {
        display: grid;
        justify-content: center;
        align-items: center;
        gap: 1rem 2rem;
        /*grid-template-columns: repeat(12, 1fr);*/


        @include lg {
            width: 60%;
            max-width: 600px;
        }

        h1 {
            margin: 0;
        }

        p {
            margin-top: 0;
            margin-bottom: 1rem !important;
        }

       

        div {
            display: grid;

            label {
                font-weight: 700;
            }

            input {

                &:focus {
                    outline: none;
                }

                &::placeholder {
                    opacity: .4;
                }
            }

            span {
                padding: .5rem;
                color: $danger;
            }
        }

        .form-check {
            display: flex;
            align-items: center;
            align-content: center;
            gap: .5rem;
            padding: 0;

            input[type=checkbox] {
                @include lg {
                    width: 18px;
                    height: 18px;
                    padding: .5rem;
                    border: solid 2px $gray-500;
                    box-shadow: none;
                    margin: 0;
                    border-radius: 2px;
                }
            }

            input[type=checkbox]:checked {
                @include lg {
                    background-color: $theme;
                    border: $theme 2px solid;
                }
            }

            label {
                font-weight: 400;
            }
        }

        .validation-msg {
            display: flex;
            flex-direction: column;
        }


        .btn-theme-s {
            width: 100%;
        }
    }
}