
#signup {
    margin-top: 6rem;

    .container {
        display: grid;
        justify-content: center;
        align-items: center;
        gap: 1rem 2rem;
        /*grid-template-columns: repeat(12, 1fr);*/


        @include lg {
            width: 60%;
            max-width: 600px;
        }

        h1 {
            margin: 0;
        }

        p {
            margin-top: 0;
            margin-bottom: 1rem !important;
        }



        div {
            display: grid;

            label {
                font-weight: 700;

                &.input-validation-error {
                    color: $danger;
                }
            }

            input {

                &:focus {
                    box-shadow: none;
                    border: 1px solid $theme;
                }

                &::placeholder {
                    opacity: .4;
                }

                &.input-validation-error {
                    border: 1px solid $danger;

                    &::placeholder {
                        color: $danger;
                    }
                }
            }

            span {
                padding: .5rem;

                &.field-validation-error {
                    @include text-s;
                    color: $danger;
                }
            }
        }

        .form-check {
            display: flex;
            align-items: center;
            align-content: center;
            gap: .5rem;
            padding: 0;

            input[type=checkbox] {
                @include lg {
                    width: 18px;
                    height: 18px;
                    padding: .5rem;
                    border: solid 2px $gray-500;
                    box-shadow: none;
                    margin: 0;
                    border-radius: 2px;
                }

                &.input-validation-error {
                    border: solid 2px $danger;
                    color: $danger;
                }
            }

            input[type=checkbox]:checked {
                @include lg {
                    background-color: $theme;
                    border: $theme 2px solid;
                }
            }

            label {
                font-weight: 400;
            }
        }

        .validation-msg {
            display: flex;
            flex-direction: column;
        }


        .btn-theme-s {
            width: 100%;
        }
    }
}
