@model HomeIndexViewModel

<!--Showcase partial view import-->
<div class="showcase">
    @await Html.PartialAsync("~/Views/Shared/Sections/IndexPage/_ShowcasePartial.cshtml", Model.Showcase)
</div>

<!--Feature partial view import-->
<div class="feature-section">
    @await Html.PartialAsync("~/Views/Shared/Sections/IndexPage/_FeaturesPartial.cshtml")
</div>

<!--Light/Dark show mode partial view import-->
<div class="light-dark-section">
    @await Html.PartialAsync("~/Views/Shared/Sections/IndexPage/_LightDarkPartial.cshtml")
</div>

<!--Manage work partial view import-->
<div class="manage-work-section">
    @await Html.PartialAsync("~/Views/Shared/Sections/IndexPage/_ManageWorkPartial.cshtml")
</div>

<!--Download partial view import-->
<div class="download-section">
    @await Html.PartialAsync("~/Views/Shared/Sections/IndexPage/_DownloadPartial.cshtml")
</div>

<!--Tools partial view import-->
<div class="tools-section">
    @await Html.PartialAsync("~/Views/Shared/Sections/IndexPage/_ToolsPartial.cshtml")
</div>

<!--Newsletter partial view import-->
<div class="newsletter-section">
    @await Html.PartialAsync("~/Views/Shared/Sections/IndexPage/_NewsletterPartial.cshtml")
</div>